.root {
  background-color: rgb(238, 238, 238);

  @media (max-width: 990px) {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link_list {
      display: flex;

      &__item {
        padding: 18px 0;
      }
    }
  }
}
