.header_left__size {
  display: flex;
  align-items: center;
  .logo_container {
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.184);
    .logo {
      padding: 6px 15px;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: 700;
      color: #494949;
      text-shadow: 1px 2px 1px rgba(16, 26, 59, 0.518);
      border: 3px solid rgb(217, 217, 217);
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.402);
    }
  }

  .description {
    color: #414141;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 20px;
    max-width: 200px;
    cursor: pointer;
  }
}
