.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  .root {
    min-height: 80px;
    display: flex;
    align-items: center;
    @media (max-width: 990px) {
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.138);
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
  }
}
