.address_list__item {
  text-align: center;
  display: block;
  color: #494949;
  font-size: 1.3rem;
  padding-bottom: 15px;
  font-weight: 600;
}
.dropdown_container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}