.contact {
  text-align: center;
  font-size: 1.35rem;
  font-weight: 350;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;

  .contact_phones {
    &__item {
      padding-bottom: 20px;
    }
  }

  .contact_email {
  }
  .button_container {
    padding-top: 30px;
  }
}
